{% extends 'base.html.twig' %}

{% block title %}Hello AuthController!{% endblock %}

{% block body %}

    <div class="container text-dark d-block py-5">
        <form class="form-group" method="POST">
            <div class="mb-3">
                <label for="username">Pseudo</label>
                <input name="_username" id="pseudo" class="form-control" type="text" placeholder="prenom.nom">
            </div>
            <div class="mb-3">
                <label for="password">Mot de passe</label>
                <input name="_password" class="form-control" type="password" placeholder="password">
            </div>
            <button type="submit" class="btn btn-primary">Se connecter</button>
        </form>
    </div>


{% endblock %}
