{% extends 'base.html.twig' %}

{% block title %}Hello AuthController!{% endblock %}

{% block body %}

    <div class="container text-white d-block">
        <h1>Connect</h1>
        <form class="form-group" method="POST">
            <div class="mb-3">
                <label for="username">Username</label>
                <input name="_username" id="pseudo" class="form-control" type="text" placeholder="username">
            </div>
            <div class="mb-3">
                <label for="password">Password</label>
                <input name="_password" class="form-control" type="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-success">Log-In</button>
        </form>
    </div>


{% endblock %}
